@font-face {
	font-family: 'Mona';
	src:  url('../fonts/mona/Mona.eot?i0dnig');
	src:  url('../fonts/mona/Mona.eot?i0dnig#iefix') format('embedded-opentype'),
	url('../fonts/mona/Mona.ttf?i0dnig') format('truetype'),
	url('../fonts/mona/Mona.woff?i0dnig') format('woff'),
	url('../fonts/mona/Mona.svg?i0dnig#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
