<footer class='text-center mt-5 mb-5'>
	<span class='text-secondary'>
		Powered by <a href='https://github.com/d-indifference/megami' target='_blank'>Megami 0.0.1 InDev</a>
	</span>
</footer>

<script src='/js/megami.js'></script>

</body>
</html>
