<footer class='text-center mt-5'>
	<span class='text-secondary'>
		Powered by <a href='#'>Megami</a>
	</span>
</footer>

<script src='/js/popper.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
</body>
</html>
