<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src='/js/popper.min.js'></script>
	<script src='/js/bootstrap.min.js'></script>
	<script src='/js/megami-lib.js'></script>
</head>
<body>
