{{> head}}

<div class='container mt-5 text-center'>
	<h1>Unauthorized</h1>

	<img src='/img/401.webp' class='img-fluid' alt='401 Unauthorized'>

	<p class='mt-3'>{{ message }}</p>

	<p>
		<a href='/megami/sign-in'>To the Sign-in page</a>
	</p>

	<p>
		<a href='/'>To the Home page</a>
	</p>
</div>

{{> eof}}
