{{> head}}

{{> board_navbar }}

<div class='container'>
	<h1 class='mt-3 mb-5'>Board Name</h1>
	<div class='custom-masonry mt-3'>
		<div class="card custom-masonry__card mb-3 mb-3">
			<img src="https://410chan.org/b/src/169103769031.jpg" class="card-img-top" alt="Thread image">
			<div class="card-body">
				<h5 class="card-title">Thread title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<div class='custom-card-bottom'>
					<a href="#" class="btn btn-secondary">View Thread</a>
					<div>
						<span class='icon-comment'></span>1
						<span class='icon-image'></span>1
					</div>
				</div>
			</div>
		</div>
		<div class="card custom-masonry__card mb-3">
			<img src="http://410chan.org/b/src/169084386362.jpg" class="card-img-top" alt="Thread image">
			<div class="card-body">
				<h5 class="card-title">Thread title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<div class='custom-card-bottom'>
					<a href="#" class="btn btn-secondary">View Thread</a>
					<div>
						<span class='icon-comment'></span>1
						<span class='icon-image'></span>1
					</div>
				</div>
			</div>
		</div>
		<div class="card custom-masonry__card mb-3">
			<img src="http://410chan.org/b/src/169084639358.webp" class="card-img-top" alt="Thread image">
			<div class="card-body">
				<h5 class="card-title">Thread title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<div class='custom-card-bottom'>
					<a href="#" class="btn btn-secondary">View Thread</a>
					<div>
						<span class='icon-comment'></span>1
						<span class='icon-image'></span>1
					</div>
				</div>
			</div>
		</div>
		<div class="card custom-masonry__card mb-3">
			<img src="http://410chan.org/b/src/169120072644.jpg" class="card-img-top" alt="Thread image">
			<div class="card-body">
				<h5 class="card-title">Thread title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<div class='custom-card-bottom'>
					<a href="#" class="btn btn-secondary">View Thread</a>
					<div>
						<span class='icon-comment'></span>1
						<span class='icon-image'></span>1
					</div>
				</div>
			</div>
		</div>
		<div class="card custom-masonry__card mb-3">
			<img src="http://410chan.org/b/src/169120072644.jpg" class="card-img-top" alt="Thread image">
			<div class="card-body">
				<h5 class="card-title">Thread title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<div class='custom-card-bottom'>
					<a href="#" class="btn btn-secondary">View Thread</a>
					<div>
						<span class='icon-comment'></span>1
						<span class='icon-image'></span>1
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	<div>
		[
		<a href='#'>d</a>
		]
		[
		<a href='#'>b</a> /
		<a href='#'>vg</a> /
		<a href='#'>a</a> /
		<a href='#'>po</a>
		]
	</div>
</div>

{{> eof}}
