{{> head}}

{{> navbar }}

<div class='container'>
	<div class='custom-masonry mt-3'>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168859637516.gif" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/b/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168859324381.png" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/a/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/thumb/163829500554s.png" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/vg/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168855755944.jpg" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/po/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168859637516.gif" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/b/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168859324381.png" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/a/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/thumb/163829500554s.png" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/vg/</h2>
				</div>
			</div>
		</a>
		<a href='#' class='custom-masonry__card'>
			<div class="card position-relative">
				<img src="https://410chan.org/b/src/168855755944.jpg" class="card-img" alt="Описание изображения">
				<div class="card-img-overlay d-flex flex-column justify-content-center" style='background-color: rgba(0, 0, 0,.25)'>
					<h2 class="card-title text-white text-center">/po/</h2>
				</div>
			</div>
		</a>
	</div>
</div>

{{> eof}}
