{{> head}}

{{> navbar }}

<div class='container'>
	<div class='custom-masonry mt-3'>
		{{# each boards }}

			<a href='/{{ this.slug }}' class='custom-masonry__card' title='{{ this.name }}'>
				<div class="card position-relative">
					<img
						src="/img/image_placeholder.gif"
						class="card-img"
						alt="{{ this.name }}"
					>
					<div
						class="card-img-overlay d-flex flex-column justify-content-center custom-card-img-overlay"
					>
						<h2 class="card-title text-white text-center">/{{ this.slug }}/</h2>
					</div>
				</div>
			</a>

		{{/ each}}
	</div>
</div>

{{> eof}}
