{{> head}}

{{> navbar }}

<div class='container mt-4'>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti dignissimos earum ipsa laudantium magni sunt voluptatibus. Adipisci at, dignissimos error esse laborum numquam obcaecati placeat quia tempore vel? Voluptas?
	</p>
</div>

{{> eof}}
